node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

logs
*.log
*.log.*
debug.log

.env
.env.local
.env.development
.env.production

server/prisma/dev.db-journal
server/prisma/dev.db
server/prisma/migrations/

dist/
build/

client/node_modules/
client/dist/
client/.vite/

.cache/
.temp/
.tmp/
*.cache
*.tmp

.DS_Store
Thumbs.db

.vscode/
